@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Titillium+Web&display=swap");

:root {
  --primary: #00a28d;
  --secondary: #f16389b0;
  --grey: #505050ba;
  --warning: #f9d342;
  --dark: #181817;
  --light: #d9d9d9;
  --transparentLight: #ffffff87;
  --transparentDark: #0000006b;
  --bg: linear-gradient(90deg, #a2003ee1 10%, #f16389b0 90%);
}
* {
  padding: 0;
  margin: 0;
  transition: all 1s ease-in-out;
  box-sizing: border-box;
}
body {
  font-family: "Share Tech Mono", monospace;
  background: var(--bg);
}
main {
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.container {
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 5px;
  background: none;
  border: 2px solid #000;
  box-shadow: 0 3px 0 #000000c9;
}
h1,
input,
li,
span {
  height: 60px;
  line-height: 60px;
}
h1 {
  padding: 0 2rem;
  font-size: 1.5rem;
  color: var(--secondary);
  text-transform: capitalize;
  background: var(--dark);
}
input {
  width: 100%;
  font-size: 1.2rem;
  background: none;
  color: var(--dark);
  padding: 0 2rem;
  border: none;
  border-bottom: 1px solid #000;
}
input:focus {
  outline: none;
}
input::placeholder {
  color: #000;
}
ul {
  list-style: none;
}
li {
  color: var(--light);
  text-transform: capitalize;
  background: var(--transparentDark);
}
li:nth-child(2n) {
  background: var(--transparentLight);
  color: var(--dark);
}
span {
  width: 0;
  opacity: 0;
  color: #000;
  text-align: center;
  margin-right: 1.5rem;
  background: #e40039;
  display: inline-block;
  transition: 0.2s linear;
}
i.icon {
  cursor: pointer;
}
span i.icon {
  font-size: 1.3rem;
}
li:hover span {
  width: 60px;
  opacity: 1;
}
/* interactive classes */
.sort {
  float: right;
}
.removeLi {
  float: left;
}
.done {
  text-decoration: line-through;
}
/*Phone screens*/
@media screen and (max-width: 600px) {
  .container {
    width: 90%;
    margin: 1rem auto;
  }
}
@media screen and (max-width: 300px) {
  .container {
    width: 95%;
    margin: 1rem auto;
  }
  h1,
  input,
  li,
  span {
    height: auto;
    line-height: inherit;
  }
  h1,
  input,
  li {
    padding: 1rem 0.5rem;
  }
}
